//! **************************************************************************
// Written by: Map P.20131013 on Mon Aug 11 22:05:18 2025
//! **************************************************************************

SCHEMATIC START;
COMP "key" LOCATE = SITE "R3" LEVEL 1;
COMP "lcd_rgb<10>" LOCATE = SITE "B8" LEVEL 1;
COMP "lcd_rgb<11>" LOCATE = SITE "A9" LEVEL 1;
COMP "lcd_rgb<12>" LOCATE = SITE "C9" LEVEL 1;
COMP "lcd_rgb<20>" LOCATE = SITE "B5" LEVEL 1;
COMP "lcd_rgb<13>" LOCATE = SITE "A10" LEVEL 1;
COMP "lcd_rgb<21>" LOCATE = SITE "A6" LEVEL 1;
COMP "lcd_rgb<14>" LOCATE = SITE "B10" LEVEL 1;
COMP "lcd_rgb<22>" LOCATE = SITE "B6" LEVEL 1;
COMP "lcd_rgb<15>" LOCATE = SITE "A11" LEVEL 1;
COMP "lcd_rgb<23>" LOCATE = SITE "A7" LEVEL 1;
COMP "lcd_rgb<16>" LOCATE = SITE "C5" LEVEL 1;
COMP "lcd_rgb<17>" LOCATE = SITE "A4" LEVEL 1;
COMP "lcd_rgb<18>" LOCATE = SITE "C4" LEVEL 1;
COMP "lcd_rgb<19>" LOCATE = SITE "A5" LEVEL 1;
COMP "lcd_clk" LOCATE = SITE "B15" LEVEL 1;
COMP "lcd_rst" LOCATE = SITE "H14" LEVEL 1;
COMP "sys_clk" LOCATE = SITE "N8" LEVEL 1;
COMP "lcd_rgb<0>" LOCATE = SITE "C11" LEVEL 1;
COMP "lcd_rgb<1>" LOCATE = SITE "A12" LEVEL 1;
COMP "lcd_rgb<2>" LOCATE = SITE "B12" LEVEL 1;
COMP "lcd_rgb<3>" LOCATE = SITE "A13" LEVEL 1;
COMP "lcd_rgb<4>" LOCATE = SITE "C13" LEVEL 1;
COMP "lcd_rgb<5>" LOCATE = SITE "A14" LEVEL 1;
COMP "lcd_rgb<6>" LOCATE = SITE "B14" LEVEL 1;
COMP "lcd_rgb<7>" LOCATE = SITE "F14" LEVEL 1;
COMP "lcd_rgb<8>" LOCATE = SITE "C7" LEVEL 1;
COMP "lcd_rgb<9>" LOCATE = SITE "A8" LEVEL 1;
COMP "lcd_de" LOCATE = SITE "C15" LEVEL 1;
COMP "lcd_bl" LOCATE = SITE "D16" LEVEL 1;
COMP "lcd_hs" LOCATE = SITE "B16" LEVEL 1;
COMP "lcd_vs" LOCATE = SITE "C16" LEVEL 1;
COMP "sys_rst_n" LOCATE = SITE "G16" LEVEL 1;
SCHEMATIC END;

